---
import TabBar from '../components/TabBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle={"Insta Reels Preview"}>
  <div class="container">
    <div class="header">
      <h1>Insta Reels Preview</h1>
      <p>Veja como seus vídeos ficarão no Instagram Reels antes de publicar.</p>
    </div>
    
    <div class="button-container">
      <button class="button" id="uploadButton">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
          <polyline points="17 8 12 3 7 8"></polyline>
          <line x1="12" y1="3" x2="12" y2="15"></line>
        </svg>
        Selecionar Vídeo
      </button>
      
      <button class="button button-clear" id="clearButton" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="15" y1="9" x2="9" y2="15"></line>
          <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
        Limpar Vídeo
      </button>
    </div>
    <input type="file" id="videoInput" accept="video/*" style="display: none;" />
    
    <div class="device-preview">
      <!-- Frame do iPhone -->
      <img src="/images/iPhone 16 - Black - Portrait.png" alt="Frame do iPhone 16" class="device-frame" />
      
      <!-- Tela do dispositivo (conteúdo) -->
      <div class="device-screen">
        <div class="video-container">
          <div class="placeholder" id="placeholder">
            Selecione seu vídeo para vê-lo aqui
          </div>
          <video class="video-element" id="videoPlayer"></video>
          <div class="video-overlay"></div>
        </div>
        
        <!-- Barra preta superior -->
        <div class="instagram-top-bar"></div>
        
        
        <!-- Sobreposição da UI do Instagram -->
        <div class="instagram-overlay">
          <!-- Barra preta inferior -->
         <TabBar class="instagram-bottom-bar" />
          <!-- Barra de status do iOS -->
          <div class="ios-status-bar">
            <div class="status-time">9:41</div>
            <div class="status-icons">
              <!-- Ícone de sinal celular -->
              <div class="signal-icon">
                <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.116 2.03295C20.116 1.3999 19.6385 0.886719 19.0493 0.886719H17.9827C17.3936 0.886719 16.916 1.3999 16.916 2.03295V11.9669C16.916 12.5999 17.3936 13.1131 17.9827 13.1131H19.0493C19.6385 13.1131 20.116 12.5999 20.116 11.9669V2.03295ZM12.6819 3.332H13.7486C14.3377 3.332 14.8152 3.8575 14.8152 4.50574V11.9394C14.8152 12.5876 14.3377 13.1131 13.7486 13.1131H12.6819C12.0928 13.1131 11.6152 12.5876 11.6152 11.9394V4.50574C11.6152 3.8575 12.0928 3.332 12.6819 3.332ZM8.35013 5.98105H7.28346C6.69436 5.98105 6.2168 6.51324 6.2168 7.16973V11.9244C6.2168 12.5809 6.69436 13.1131 7.28346 13.1131H8.35013C8.93923 13.1131 9.4168 12.5809 9.4168 11.9244V7.16973C9.4168 6.51324 8.93923 5.98105 8.35013 5.98105ZM3.04935 8.42634H1.98268C1.39358 8.42634 0.916016 8.95093 0.916016 9.59804V11.9414C0.916016 12.5885 1.39358 13.1131 1.98268 13.1131H3.04935C3.63845 13.1131 4.11602 12.5885 4.11602 11.9414V9.59804C4.11602 8.95093 3.63845 8.42634 3.04935 8.42634Z" fill="white"/>
                </svg>
              </div>
              
              <!-- Ícone de Wi-Fi -->
              <div class="wifi-icon">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.68654 3.30222C11.1736 3.30232 13.5657 4.22441 15.3682 5.87789C15.5039 6.00554 15.7209 6.00393 15.8545 5.87428L17.152 4.61081C17.2197 4.54505 17.2575 4.45597 17.2569 4.36329C17.2563 4.27061 17.2175 4.18197 17.149 4.11697C12.418 -0.257741 4.9543 -0.257741 0.22329 4.11697C0.154758 4.18192 0.115874 4.27054 0.115242 4.36322C0.11461 4.4559 0.152283 4.545 0.219923 4.61081L1.51779 5.87428C1.65139 6.00413 1.86851 6.00574 2.00416 5.87789C3.8069 4.2243 6.19918 3.30221 8.68654 3.30222ZM8.68318 7.5225C10.0405 7.52241 11.3494 8.03415 12.3555 8.95828C12.4916 9.08943 12.7059 9.08659 12.8386 8.95187L14.1259 7.63256C14.1937 7.56336 14.2313 7.46948 14.2303 7.37193C14.2293 7.27438 14.1898 7.1813 14.1207 7.11351C11.0568 4.22266 6.31211 4.22266 3.24828 7.11351C3.17907 7.1813 3.13959 7.27443 3.13868 7.37201C3.13777 7.46959 3.17552 7.56346 3.24345 7.63256L4.53036 8.95187C4.66302 9.08659 4.87738 9.08943 5.01346 8.95828C6.01892 8.03476 7.32676 7.52307 8.68318 7.5225ZM11.2076 10.316C11.2095 10.4214 11.1725 10.523 11.1052 10.5968L8.9285 13.0515C8.8647 13.1236 8.77771 13.1642 8.68694 13.1642C8.59617 13.1642 8.50917 13.1236 8.44537 13.0515L6.26834 10.5968C6.20109 10.5229 6.16409 10.4213 6.16608 10.316C6.16808 10.2106 6.20889 10.1108 6.27887 10.0402C7.66897 8.72634 9.7049 8.72634 11.095 10.0402C11.1649 10.1109 11.2057 10.2107 11.2076 10.316Z" fill="white"/>
                </svg>
              </div>
              
              <!-- Ícone de bateria -->
              <div class="battery-container">
                <svg width="28" height="14" viewBox="0 0 28 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.35" x="0.755859" y="1" width="24" height="12" rx="3.8" stroke="white"/>
                  <path opacity="0.4" d="M26.2559 5.28125V9.35672C27.0606 9.01155 27.5839 8.20859 27.5839 7.31899C27.5839 6.42938 27.0606 5.62642 26.2559 5.28125" fill="white"/>
                  <rect x="2.25586" y="2.5" width="21" height="9" rx="2.5" fill="white"/>
                </svg>
              </div>
            </div>
          </div>
          
          <!-- Cabeçalho do Instagram -->
          <div class="instagram-header">
            <div class="nav-arrow">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2">
                <path d="M15 18l-6-6 6-6"></path>
              </svg>
            </div>
            <div class="preview-text">Ver prévia</div>
            <div class="camera-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="21" viewBox="0 0 27 21" fill="none">
                <path d="M3.46729 20.7769C2.39925 20.7769 1.59408 20.5085 1.05176 19.9717C0.50944 19.4349 0.238281 18.638 0.238281 17.5811V6.3418C0.238281 5.28483 0.50944 4.48796 1.05176 3.95117C1.59408 3.41439 2.39925 3.146 3.46729 3.146H6.45557C6.73779 3.146 6.96468 3.12663 7.13623 3.08789C7.31331 3.04915 7.47103 2.97998 7.60938 2.88037C7.74772 2.77523 7.89714 2.63135 8.05762 2.44873L8.9375 1.46094C9.12012 1.26172 9.30827 1.09847 9.50195 0.971191C9.69564 0.838379 9.91699 0.741536 10.166 0.680664C10.415 0.614258 10.7194 0.581055 11.0791 0.581055H15.2959C15.6556 0.581055 15.96 0.614258 16.209 0.680664C16.4635 0.741536 16.6849 0.838379 16.873 0.971191C17.0667 1.09847 17.2549 1.26172 17.4375 1.46094L18.3174 2.44873C18.4834 2.63688 18.6328 2.78076 18.7656 2.88037C18.904 2.97998 19.0589 3.04915 19.2305 3.08789C19.4076 3.12663 19.6372 3.146 19.9194 3.146H23.0322C24.1003 3.146 24.9054 3.41439 25.4478 3.95117C25.9901 4.48796 26.2612 5.28483 26.2612 6.3418V17.5811C26.2612 18.638 25.9901 19.4349 25.4478 19.9717C24.9054 20.5085 24.1003 20.7769 23.0322 20.7769H3.46729ZM3.50049 19.3076H23.0073C23.5718 19.3076 24.009 19.1554 24.3188 18.8511C24.6343 18.5467 24.792 18.0985 24.792 17.5063V6.4248C24.792 5.82715 24.6343 5.37614 24.3188 5.07178C24.009 4.76742 23.5718 4.61523 23.0073 4.61523H19.5874C19.2609 4.61523 18.9814 4.59587 18.749 4.55713C18.5166 4.51286 18.3063 4.43538 18.1182 4.32471C17.9355 4.2085 17.7529 4.04801 17.5703 3.84326L16.707 2.88037C16.5023 2.65348 16.3169 2.48193 16.1509 2.36572C15.9904 2.24398 15.8133 2.16097 15.6196 2.1167C15.4259 2.07243 15.1769 2.05029 14.8726 2.05029H11.5024C11.1981 2.05029 10.9491 2.07243 10.7554 2.1167C10.5617 2.16097 10.3818 2.24398 10.2158 2.36572C10.0553 2.48193 9.87272 2.65348 9.66797 2.88037L8.80469 3.84326C8.62207 4.04801 8.43669 4.2085 8.24854 4.32471C8.06592 4.43538 7.8584 4.51286 7.62598 4.55713C7.39355 4.59587 7.11686 4.61523 6.7959 4.61523H3.50049C2.9305 4.61523 2.48779 4.76742 2.17236 5.07178C1.86247 5.37614 1.70752 5.82715 1.70752 6.4248V17.5063C1.70752 18.0985 1.86247 18.5467 2.17236 18.8511C2.48779 19.1554 2.9305 19.3076 3.50049 19.3076ZM13.2539 17.6558C12.4404 17.6558 11.6768 17.5036 10.9629 17.1992C10.2546 16.9004 9.632 16.4826 9.09521 15.9458C8.55843 15.4035 8.13786 14.7782 7.8335 14.0698C7.53467 13.356 7.38525 12.5895 7.38525 11.7705C7.38525 10.957 7.53467 10.1934 7.8335 9.47949C8.13786 8.76562 8.55843 8.1403 9.09521 7.60352C9.632 7.06673 10.2546 6.64893 10.9629 6.3501C11.6768 6.04574 12.4404 5.89355 13.2539 5.89355C14.0674 5.89355 14.8283 6.04574 15.5366 6.3501C16.2505 6.64893 16.8758 7.06673 17.4126 7.60352C17.9494 8.1403 18.3672 8.76562 18.666 9.47949C18.9704 10.1934 19.1226 10.957 19.1226 11.7705C19.1226 12.5895 18.9704 13.356 18.666 14.0698C18.3617 14.7782 17.9411 15.4035 17.4043 15.9458C16.8675 16.4826 16.245 16.9004 15.5366 17.1992C14.8283 17.5036 14.0674 17.6558 13.2539 17.6558ZM13.2539 16.2529C13.8682 16.2529 14.4465 16.1395 14.9888 15.9126C15.5311 15.6802 16.007 15.3592 16.4165 14.9497C16.826 14.5347 17.1442 14.0588 17.3711 13.522C17.6035 12.9797 17.7197 12.3958 17.7197 11.7705C17.7197 11.1507 17.6035 10.5697 17.3711 10.0273C17.1442 9.48503 16.826 9.00911 16.4165 8.59961C16.007 8.1901 15.5311 7.87191 14.9888 7.64502C14.4465 7.4126 13.8682 7.29639 13.2539 7.29639C12.6341 7.29639 12.0531 7.4126 11.5107 7.64502C10.974 7.87191 10.5008 8.1901 10.0913 8.59961C9.6818 9.00911 9.36084 9.48503 9.12842 10.0273C8.896 10.5697 8.77979 11.1507 8.77979 11.7705C8.77979 12.3958 8.896 12.9797 9.12842 13.522C9.36084 14.0588 9.6818 14.5347 10.0913 14.9497C10.5008 15.3592 10.974 15.6802 11.5107 15.9126C12.0531 16.1395 12.6341 16.2529 13.2539 16.2529ZM19.604 7.84424C19.604 7.49561 19.734 7.19124 19.9941 6.93115C20.2542 6.67106 20.5641 6.54102 20.9238 6.54102C21.2725 6.54102 21.5768 6.67106 21.8369 6.93115C22.097 7.19124 22.2271 7.49561 22.2271 7.84424C22.2271 8.20947 22.097 8.51937 21.8369 8.77393C21.5768 9.02295 21.2725 9.14746 20.9238 9.14746C20.5641 9.14746 20.2542 9.02295 19.9941 8.77393C19.734 8.5249 19.604 8.21501 19.604 7.84424Z" fill="white"/>
              </svg>
            </div>
          </div>
          
          <!-- Ícones do lado direito -->
          <div class="right-icons">
            <!-- Ícone de curtida -->
            <div class="icon-placeholder">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.18253 15.0979L13.1459 24.7466C13.6074 25.2434 14.3939 25.2434 14.8554 24.7466L23.8188 15.0979C26.2835 12.4447 26.2835 8.14305 23.8188 5.48988C21.354 2.83671 17.3579 2.83671 14.8932 5.48988L14.8554 5.53057C14.3939 6.0274 13.6074 6.0274 13.1459 5.53057L13.1081 5.48988C10.6434 2.83671 6.64726 2.83671 4.18253 5.48988C1.7178 8.14305 1.7178 12.4447 4.18253 15.0979Z" stroke="white" stroke-width="2.33333"/>
              </svg>
            </div>
            
            <!-- Ícone de comentário -->
            <div class="icon-placeholder">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icons / Comment">
                  <g id="comment">
                    <mask id="path-1-outside-1_550_4329" maskUnits="userSpaceOnUse" x="1.66016" y="1.66699" width="25" height="25" fill="black">
                      <rect fill="white" x="1.66016" y="1.66699" width="25" height="25"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9744 20.2208C22.4463 18.5699 23.3408 16.3931 23.3408 14.0073C23.3408 8.84879 19.159 4.66699 14.0005 4.66699C8.84196 4.66699 4.66016 8.84879 4.66016 14.0073C4.66016 19.1658 8.84196 23.3476 14.0005 23.3476C15.7749 23.3476 17.4338 22.8528 18.8466 21.9936L21.4756 22.5576L20.9744 20.2208Z"/>
                    </mask>
                    <path d="M20.9744 20.2208L19.2328 18.668L18.4445 19.5521L18.6929 20.7102L20.9744 20.2208ZM18.8466 21.9936L19.336 19.7122L18.4279 19.5174L17.6343 20L18.8466 21.9936ZM21.4756 22.5576L20.9863 24.839L24.5137 25.5957L23.7571 22.0682L21.4756 22.5576ZM21.0074 14.0073C21.0074 15.7986 20.3383 17.428 19.2328 18.668L22.716 21.7736C24.5543 19.7119 25.6741 16.9876 25.6741 14.0073H21.0074ZM14.0005 7.00033C17.8703 7.00033 21.0074 10.1375 21.0074 14.0073H25.6741C25.6741 7.56013 20.4476 2.33366 14.0005 2.33366V7.00033ZM6.99349 14.0073C6.99349 10.1375 10.1306 7.00033 14.0005 7.00033V2.33366C7.55329 2.33366 2.32682 7.56013 2.32682 14.0073H6.99349ZM14.0005 21.0143C10.1306 21.0143 6.99349 17.8772 6.99349 14.0073H2.32682C2.32682 20.4545 7.55329 25.681 14.0005 25.681V21.0143ZM17.6343 20C16.5764 20.6433 15.3353 21.0143 14.0005 21.0143V25.681C16.2145 25.681 18.2911 25.0623 20.059 23.9873L17.6343 20ZM18.3573 24.2751L20.9863 24.839L21.965 20.2761L19.336 19.7122L18.3573 24.2751ZM23.7571 22.0682L23.2558 19.7314L18.6929 20.7102L19.1942 23.047L23.7571 22.0682Z" fill="white" mask="url(#path-1-outside-1_550_4329)"/>
                  </g>
                </g>
              </svg>
            </div>
            
            <!-- Ícone de compartilhar -->
            <div class="icon-placeholder">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Icons / Share">
                  <path id="share" d="M11.6667 14L13.6828 23.0724C13.7971 23.587 14.4812 23.698 14.7524 23.246L23.9699 7.88346C24.2032 7.49465 23.9231 7 23.4697 7H5.0769C4.53533 7 4.28608 7.67378 4.69727 8.02623L11.6667 14ZM11.6667 14L23.3333 7.58333" stroke="white" stroke-width="2.33333"/>
                </g>
              </svg>
            </div>
          </div>
          
          <!-- Ícone de três pontos -->
          <div class="three-dots">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0013 16.3337C8.28997 16.3337 9.33464 15.289 9.33464 14.0003C9.33464 12.7117 8.28997 11.667 7.0013 11.667C5.71264 11.667 4.66797 12.7117 4.66797 14.0003C4.66797 15.289 5.71264 16.3337 7.0013 16.3337ZM16.3346 14.0003C16.3346 15.289 15.29 16.3337 14.0013 16.3337C12.7126 16.3337 11.668 15.289 11.668 14.0003C11.668 12.7117 12.7126 11.667 14.0013 11.667C15.29 11.667 16.3346 12.7117 16.3346 14.0003ZM23.3346 14.0003C23.3346 15.289 22.29 16.3337 21.0013 16.3337C19.7126 16.3337 18.668 15.289 18.668 14.0003C18.668 12.7117 19.7126 11.667 21.0013 11.667C22.29 11.667 23.3346 12.7117 23.3346 14.0003Z" fill="white"/>
            </svg>
          </div>
          
          <!-- Informações do usuário -->
          <div class="user-info-container">
           <div class="profile-pic-container">
             <div class="profile-pic">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1.5">
                 <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                 <circle cx="12" cy="7" r="4"></circle>
               </svg>
             </div>
             <div class="username">seu.instagram</div>
           </div>
            <!-- Legenda -->
            <div class="caption-container">
              <div class="caption">Legenda</div>
            </div>
          </div>
          
          
         
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>
        <span class="footer-text">Bugiganga feita por</span> 
        <a href="https://montefiorestudio.com" target="_blank" rel="noopener noreferrer" class="footer-link">Montefiore Studio</a>
      </p>
    </footer>
  </div>


  <script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
      const uploadButton = document.getElementById('uploadButton');
      const clearButton = document.getElementById('clearButton');
      const videoInput = document.getElementById('videoInput');
      const videoPlayer = document.getElementById('videoPlayer');
      const placeholder = document.getElementById('placeholder');
      
      let currentObjectURL = null;
      
      uploadButton.addEventListener('click', () => {
        videoInput.click();
      });
      
      clearButton.addEventListener('click', () => {
        // Limpa o input de arquivo
        videoInput.value = '';
        
        // Revoga a URL do objeto, se existir
        if (currentObjectURL) {
          URL.revokeObjectURL(currentObjectURL);
          currentObjectURL = null;
        }
        
        // Reseta o player de vídeo
        videoPlayer.src = '';
        videoPlayer.style.display = 'none';
        
        // Mostra o placeholder novamente
        placeholder.style.display = 'flex';
        
        // Esconde o botão de limpar
        clearButton.style.display = 'none';
      });
      
      videoInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        
        if (file && file.type.startsWith('video/')) {
          // Revoga a URL do objeto anterior, se existir
          if (currentObjectURL) {
            URL.revokeObjectURL(currentObjectURL);
          }
          
          // Cria nova URL do objeto
          currentObjectURL = URL.createObjectURL(file);
          
          // Define a fonte do vídeo e mostra o player
          videoPlayer.src = currentObjectURL;
          videoPlayer.style.display = 'block';
          placeholder.style.display = 'none';
          
          // Configurações do vídeo
          videoPlayer.controls = false; // Remove os controles padrão
          videoPlayer.muted = true; // Silencia o vídeo por padrão
          videoPlayer.loop = true; // Faz o vídeo repetir
          videoPlayer.playsInline = true; // Importante para dispositivos móveis
          
          // Mostra o botão de limpar
          clearButton.style.display = 'flex';
          
          // Reproduz o vídeo
          videoPlayer.play();
        }
      });
    });
  </script>
</Layout>
  
