<div class="tab-bar">
    <div class="tabs">
      <div class="tab-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1901 2.27629C12.8038 1.9079 12.1962 1.9079 11.8099 2.27629L2.80989 10.8585C2.61199 11.0472 2.5 11.3087 2.5 11.5822V21C2.5 21.5523 2.94772 22 3.5 22H9.5V17C9.5 15.8954 10 14 12.5 14C15 14 15.5 15.8954 15.5 17V22H21.5C22.0523 22 22.5 21.5523 22.5 21V11.5822C22.5 11.3087 22.388 11.0472 22.1901 10.8585L13.1901 2.27629Z" fill="#F7F9F9"/>
          </svg>
      </div>
      <div class="tab-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2618 17.176C14.8145 18.3183 12.9869 19 11 19C6.30558 19 2.5 15.1944 2.5 10.5C2.5 5.80558 6.30558 2 11 2C15.6944 2 19.5 5.80558 19.5 10.5C19.5 12.4869 18.8183 14.3145 17.676 15.7618L22.1569 20.2426C22.5474 20.6332 22.5474 21.2663 22.1569 21.6569C21.7663 22.0474 21.1332 22.0474 20.7426 21.6569L16.2618 17.176ZM17.5 10.5C17.5 14.0899 14.5899 17 11 17C7.41015 17 4.5 14.0899 4.5 10.5C4.5 6.91015 7.41015 4 11 4C14.5899 4 17.5 6.91015 17.5 10.5Z" fill="#F7F9F9"/>
          </svg>
      </div>
      <div class="tab-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path d="M12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z" fill="#F7F9F9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5055 2C10.1195 1.99999 9.01721 1.99999 8.12839 2.0738C7.21811 2.14939 6.44253 2.30755 5.73415 2.67552C4.6383 3.24477 3.74477 4.1383 3.17552 5.23415C2.80755 5.94253 2.64939 6.71811 2.5738 7.62839C2.49999 8.51721 2.49999 9.61948 2.5 11.0055V12.9945C2.49999 14.3805 2.49999 15.4828 2.5738 16.3716C2.64939 17.2819 2.80755 18.0575 3.17552 18.7658C3.74477 19.8617 4.6383 20.7552 5.73415 21.3245C6.44253 21.6925 7.21811 21.8506 8.12839 21.9262C9.0172 22 10.1195 22 11.5054 22H13.4945C14.8805 22 15.9828 22 16.8716 21.9262C17.7819 21.8506 18.5575 21.6925 19.2658 21.3245C20.3617 20.7552 21.2552 19.8617 21.8245 18.7658C22.1925 18.0575 22.3506 17.2819 22.4262 16.3716C22.5 15.4828 22.5 14.3805 22.5 12.9946V11.0055C22.5 9.61955 22.5 8.5172 22.4262 7.62839C22.3506 6.71811 22.1925 5.94253 21.8245 5.23415C21.2552 4.1383 20.3617 3.24477 19.2658 2.67552C18.5575 2.30755 17.7819 2.14939 16.8716 2.0738C15.9828 1.99999 14.8805 1.99999 13.4945 2H11.5055ZM6.6561 4.45035C7.03142 4.25538 7.50955 4.13208 8.29391 4.06694C9.09025 4.0008 10.1095 4 11.55 4H13.45C14.8905 4 15.9097 4.0008 16.7061 4.06694C17.4905 4.13208 17.9686 4.25538 18.3439 4.45035C19.0745 4.82985 19.6702 5.42553 20.0497 6.1561C20.2446 6.53142 20.3679 7.00955 20.4331 7.79391C20.4992 8.59025 20.5 9.60949 20.5 11.05V12.95C20.5 14.3905 20.4992 15.4097 20.4331 16.2061C20.3679 16.9905 20.2446 17.4686 20.0497 17.8439C19.6702 18.5745 19.0745 19.1702 18.3439 19.5497C17.9686 19.7446 17.4905 19.8679 16.7061 19.9331C15.9097 19.9992 14.8905 20 13.45 20H11.55C10.1095 20 9.09025 19.9992 8.29391 19.9331C7.50955 19.8679 7.03142 19.7446 6.6561 19.5497C5.92553 19.1702 5.32985 18.5745 4.95035 17.8439C4.75538 17.4686 4.63208 16.9905 4.56694 16.2061C4.5008 15.4097 4.5 14.3905 4.5 12.95V11.05C4.5 9.60949 4.5008 8.59025 4.56694 7.79391C4.63208 7.00955 4.75538 6.53142 4.95035 6.1561C5.32985 5.42553 5.92553 4.82985 6.6561 4.45035Z" fill="#F7F9F9"/>
          </svg>
      </div>
      <div class="tab-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path d="M15.3 14.1322C15.5667 14.2957 15.5667 14.7043 15.3 14.8678L11.1 17.4425C10.8333 17.6059 10.5 17.4016 10.5 17.0747L10.5 11.9253C10.5 11.5984 10.8333 11.3941 11.1 11.5575L15.3 14.1322Z" fill="#F7F9F9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 2C5.18629 2 2.5 4.68629 2.5 8V16C2.5 19.3137 5.18629 22 8.5 22H16.5C19.8137 22 22.5 19.3137 22.5 16V8C22.5 4.68629 19.8137 2 16.5 2H8.5ZM16.5 4H15.2663L17.0663 7H20.374C19.9299 5.27477 18.3638 4 16.5 4ZM20.5 9H4.5V16C4.5 18.2091 6.29086 20 8.5 20H16.5C18.7091 20 20.5 18.2091 20.5 16V9ZM4.62602 7H8.73381L7.08769 4.25647C5.8805 4.71213 4.95161 5.73497 4.62602 7ZM11.0662 7H14.7339L12.9339 4H9.26619L11.0662 7Z" fill="#F7F9F9"/>
          </svg>
      </div>
      <div class="tab-5">
        <div class="profile">
          <div class="me-tab-bar">
            <div class="avatar-me">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none">
                    <g clip-path="url(#clip0_553_702)">
                      <rect x="0.5" width="22" height="22" fill="#EA6F46"/>
                    </g>
                    <path d="M11.5 21.75C5.56294 21.75 0.75 16.9371 0.75 11C0.75 5.06294 5.56294 0.25 11.5 0.25C17.4371 0.25 22.25 5.06294 22.25 11C22.25 16.9371 17.4371 21.75 11.5 21.75Z" stroke="#25292E" stroke-width="0.5"/>
                    <defs>
                      <clipPath id="clip0_553_702">
                        <path d="M0.5 11C0.5 4.92487 5.42487 0 11.5 0V0C17.5751 0 22.5 4.92487 22.5 11V11C22.5 17.0751 17.5751 22 11.5 22V22C5.42487 22 0.5 17.0751 0.5 11V11Z" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-indicator">
      <div class="home-indicator2"></div>
    </div>
  </div>
<style>

:root {
    --tab-size: 64px;
}

.tab-bar,
.tab-bar * {
  box-sizing: border-box;
}
.tab-bar {
  background: var(--background-default, #0c1014);
  border-style: solid;
  border-color: var(--border-subtler, #25292e);
  border-width: 0.5px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 83px;
  position: absolute;
  top: auto;
  bottom: 0;
  max-width: 100%;
  z-index: 10;
}
.tabs {
max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.tab-1 {
  padding: var(--spacing-8px, 8px) var(--spacing-0px, 0px) 0px
    var(--spacing-0px, 0px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: var(--tab-size);
  height: 51px;
  position: relative;
}
.home {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-2 {
  padding: var(--spacing-8px, 8px) var(--spacing-0px, 0px) 0px
    var(--spacing-0px, 0px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: var(--tab-size);
  height: 51px;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-3 {
  padding: var(--spacing-8px, 8px) var(--spacing-0px, 0px) 0px
    var(--spacing-0px, 0px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-0px, 0px);
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: var(--tab-size);
  height: 51px;
  position: relative;
}
.create {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-4 {
  padding: var(--spacing-8px, 8px) var(--spacing-0px, 0px) 0px
    var(--spacing-0px, 0px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-0px, 0px);
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: var(--tab-size);
  height: 51px;
  position: relative;
}
.reels {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tab-5 {
  padding: var(--spacing-8px, 8px) var(--spacing-0px, 0px) 0px
    var(--spacing-0px, 0px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-0px, 0px);
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: var(--tab-size);
  height: 51px;
  position: relative;
}
.profile {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.me-tab-bar {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.avatar-me {
  border-radius: var(--radius-100px, 100px);
  border-style: solid;
  border-color: var(--border-subtler, #25292e);
  border-width: 0.5px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
}
.replace-my-image {
  background: #ea6f46;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.home-indicator {
  padding: 8px 127px 8px 127px;
  flex-shrink: 0;
  width: 375px;
  height: 21px;
  position: relative;
}
.home-indicator2 {
  background: var(--system-dark, #ffffff);
  border-radius: var(--radius-100px, 100px);
  width: 139px;
  height: 5px;
  position: absolute;
  left: calc(50% - -69.5px);
  bottom: 8px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

</style>
  
