---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro'

const {pageTitle} = Astro.props;
---

<!doctype html>
	<html lang="pt-BR">
		<head>
      <Analytics />
		  <meta charset="utf-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <title>{pageTitle}</title>
		  <link rel="icon" type="image/png" href="/images/Favicon.png" />
		  <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/reels-preview-og-image_tiny.webp" />
    <meta
      property="og:description"
      content="Veja como seus vídeos ficarão no Instagram Reels antes de publicar."
    />
    <meta
      name="description"
      content="Veja como seus vídeos ficarão no Instagram Reels antes de publicar."
    />
    <meta property="og:site_name" content={pageTitle} />
		</head>
	<body>
		<slot />
	</body>
</html>
